<div class="container">
  <div class="row">

    <div class="col-md-6">
      <h2>Edit Team</h2>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;">

      <%= form_for(@team) do |f| %>
        <% if @team.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

            <ul>
            <% @team.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label "Name" %>
          <%= f.text_field :name, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Git Repo Url" %>
          <%= f.text_field :repo, :class => "form-control", :placeholder => "https://github.com/my-awesome/repo" %>
        </div>

        <div class="form-group">
          <%= f.label "Admin" %>
          <h4><%= link_to @admin.name, hacker_profile_path(@admin.id) %></h4>
        </div>

        <div><%= f.submit "Update", :class => "btn btn-default" %></div>
      <% end %>

    </div>

    <div class="col-md-4">
      <h2>Video</h2>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;">

      <% if @team.video.present? %>
        <div class="embed-responsive embed-responsive-16by9">

          <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
            controls preload="auto" width="auto" height="auto"
            poster="<%= @video['formats'][0]['thumbnail_url'] %>"
            data-setup='{"example_option":true}'>
            <source src="<%= @video['formats'][0]['mp4_url'] %>" type='video/mp4' />
            <source src="<%= @video['formats'][0]['flv_url'] %>" type='video/flv' />
            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>

        </div>
      <% else %>
        <camera data-app-id="a-51bf9420-75aa-0132-1522-22000a8c0328" data-sources="record,sms" id="team_video" style="width: 420px; height: 340px;"></camera>
      <% end %>

    </div>
  </div>
</div>
