<div class="container ptb">
  <div class="row">
    <%= render partial: "layouts/shared/flash_messages", flash: flash %>

    <div class="col-md-6">

      <%= form_for(@team) do |f| %>
        <%= f.hidden_field :admin, :value => current_user.id %>

        <div class="form-group">
          <%= f.label "Name" %>
          <%= f.text_field :name, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "GIT Repo" %>
          <%= f.text_field :repo, :class => "form-control" %>
        </div>

        <div><%= f.submit "Create Team", :class => "btn btn-default" %></div>
      <% end %>

    </div>

  </div>
</div>
