<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @team.repo %>
</p>

<p>
  <strong>Video:</strong>
  <%= @team.video %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @team.admin %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
