<script type="text/javascript">
  $(function () {
    CameraTag.observe('team_video', 'published', function(){

      myCamera = CameraTag.cameras["team_video"];

      var video_data_default = {team_id:'<%= @team.id %>'};
      myCamera.addVideoData(video_data_default);

    });
  });
</script>

<div class="container" style="margin-bottom: 50px;">
  <div class="row">
    <div style="overflow: hidden;">
      <h2 style="float: left;">30 Second Pitch</h2>
      <% if @team.admin == current_user.id %>
        <%= link_to 'Edit Team', edit_team_path(@team), :class => "btn btn-info", :style => "float: right; margin: 15px 29px 0px 0px;" %> 
      <% end %>
    </div>

    <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;">
      <% if @team.video.present? %>
        
        <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
          controls preload="auto" width="640" height="264"
          poster="<%= @video['formats'][0]['thumbnail_url'] %>"
          data-setup='{"example_option":true}'>
          <source src="<%= @video['formats'][0]['mp4_url'] %>" type='video/mp4' />
          <source src="<%= @video['formats'][0]['flv_url'] %>" type='video/flv' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      <% else %>
        <camera data-app-id="a-51bf9420-75aa-0132-1522-22000a8c0328" data-sources="record,sms" id="team_video" style="width: 720px; height: 440px;"></camera>
      <% end %>
    </hr>
  </div>
  <div class="row">
    <div style="overflow: hidden; margin-top: 25px;">
      <h2 style="float: left;">Team Members</h2>
      <% if @team.admin == current_user.id %>
      <button class="btn btn-info add-team-member" style="float: right; margin: 15px 29px 0px 0px;" data-toggle="modal" data-target="#add_member">Add Team Member</button>
      <% end %>
    </div>
    <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;"/>
    <div class="col-md-2">
      <% @team.users.each do |member| %>
        <%= gravatar_image_tag(member.email.gsub('spam', 'mdeering'), :alt => current_user.name, :class => "img-thumbnail", :style => "width: 100%;") %>
        <h3>
          <%= member.name %>
        </h3>
      <% end %>
    </div>
  </div>
</div>


<div class="modal fade" id="add_member" tabindex="-1" role="dialog" aria-labelledby="AddTeamMember" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="AddTeamMember">Add A Member To The Team</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>New Member Email Address</label>
            <input type="email" class="form-control new-member-email-address">
          </div>

          <div style="text-align: center; margin: 20px 0px;">
            <i class="fa fa-cog fa-spin fa-5x"></i>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="overflow: hidden;">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Close</button>
        <button type="button" class="btn btn-primary try-to-add-member">Add Member</button>
      </div>
    </div>
  </div>
</div>