<div class="container">
  <div class="row">
    <%= render partial: "layouts/shared/flash_messages", flash: flash %>

    <div class="col-md-12">
      <div style="overflow: hidden;">
        <h2 class="pull-left">Participants</h2>
        <%= link_to "View Participants Without A Team", foreveralone_path, :class => "btn btn-success pull-right", :style => "margin: 15px 15px 0px 0px;" %>
      </div>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px; margin-bottom: 15px;"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 participant-list">
      <% @participants.each do |hacker| %>
        <%= link_to hacker_profile_path(hacker.slug) do %>
          <div class="col-md-2">
            <%= gravatar_image_tag(hacker.email.gsub('spam', 'mdeering'), :alt => hacker.name, :class => "img-thumbnail", :style => "width: 100%;") %>
            <h3>
              <%= hacker.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
