<div class="container">
  <div class="row">
    
    <div class="col-md-4" style="background: #194374; padding-bottom: 42px; margin-top: 27px;">
      <%= gravatar_image_tag(@hacker.email.gsub('spam', 'mdeering'), :alt => @hacker.name, :class => "img-thumbnail hacker-avatar") %>

      <ul class="hacker-info">
        <li>
          <h3><%= @hacker.name %></h3>
        </li>
        <% if @hacker.team_id.present? %>
          <li>
            <h3>Team: <%= link_to @hacker.team.name, team_path(@hacker.team_id) %></h3>
          </li>
        <% end %>
        <% if @hacker.btc_address.present? %>
          <li>
            <h3>BTC Address</h3>
            <img src="http://miamibitcoinhackathon.com/api/v1/qrcode/generate?code=<%= @hacker.btc_address %>" style="display: block;" width="163px">
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-8">
      <h2><%= @hacker.team.name %></h2>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;">

      <div class="embed-responsive embed-responsive-16by9" style="padding-left: 15px;">
        <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
          controls preload="auto" width="auto" height="auto"
          poster="<%= @video['formats'][0]['thumbnail_url'] %>"
          data-setup='{"example_option":true}'>
          <source src="<%= @video['formats'][0]['mp4_url'] %>" type='video/mp4' />
          <source src="<%= @video['formats'][0]['flv_url'] %>" type='video/flv' />
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>

      <h2>Team Members</h2>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;">

      <% @hacker.team.users.each do |member| %>
        <div class="col-md-4">
          <%= link_to hacker_profile_path(member.id) do %>
            <%= gravatar_image_tag(member.email.gsub('spam', 'mdeering'), :alt => current_user.name, :class => "img-thumbnail", :style => "width: 100%;") %>
            <h3>
              <%= member.name %>
            </h3>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>