<div class="container">
  <div class="row">
    <%= render partial: "layouts/shared/flash_messages", flash: flash %>

    <div class="col-md-4" style="background: #194374; padding-bottom: 42px; margin-top: 27px;">
      <%= gravatar_image_tag(@hacker.email.gsub('spam', 'mdeering'), :alt => @hacker.name, :class => "img-thumbnail hacker-avatar") %>
      <% if user_signed_in? %>
        <% if current_user.id == @hacker.id %>
          <%= link_to "Edit Profile", edit_user_registration_path, :style => "display: block; text-align: center;" %>
        <% end %>
      <% end %>

      <ul class="hacker-info">
        <li>
          <h3>Name: <%= @hacker.name %></h3>
        </li>
        <% if @hacker.twitter.present? %>
          <li>
            <h3>Twitter: <a href="http://twitter.com/<%= @hacker.twitter %>" target="_blank"><%= @hacker.twitter %></a></h3>
          </li>
        <% end %>
        <% if @hacker.team_id.present? %>
          <li>
            <h3>Team: <%= link_to @hacker.team.name, team_path(@hacker.team.slug) %></h3>
          </li>
        <% end %>
        <% if @hacker.bio.present? %>
          <li>
            <h3>Bio: <%= @hacker.bio %></h3>
          </li>
        <% end %>
        <% if @hacker.btc_address.present? %>
          <li>
            <h3>BTC Address:</h3>
            <a href="https://blockchain.info/address/<%= @hacker.btc_address %>" target="_blank"><%= @hacker.btc_address %></a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-8 profile-hold-team-members">
      <% if @hacker.team_id.present? %>
        <% if @hacker.team.video.present? %>
          <h2><%= @hacker.team.name %></h2>
          <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px;">

          <div class="embed-responsive embed-responsive-16by9" style="padding-left: 15px;">
            <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
              controls preload="auto" width="auto" height="auto"
              poster="<%= @video['formats'][0]['thumbnail_url'] %>"
              data-setup='{"example_option":true}'>
              <source src="<%= @video['formats'][0]['mp4_url'] %>" type='video/mp4' />
              <source src="<%= @video['formats'][0]['flv_url'] %>" type='video/flv' />
              <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
          </div>
        <% end %>

        <h2>Team Members</h2>
        <hr class="aligncenter mb">

        <% @hacker.team.users.each do |member| %>
          <% if @hacker.id == member.id %>
          <% else %>
            <div class="col-md-3 a-team-member">
              <%= link_to hacker_profile_path(member.slug) do %>
                <%= gravatar_image_tag(member.email.gsub('spam', 'mdeering'), :alt => member.name, :class => "img-thumbnail", :style => "width: 100%;") %>
                <h3>
                  <%= member.name %>
                </h3>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>

        <% if user_signed_in? %>
          <% if @hacker.team_id == nil && teamSize(current_user.team_id) < 5 %>
            <div class="yo-no-se">
              <h2 style="text-align: center; margin-top: 70px;">Invite <%= @hacker.name %> to your team.</h2>
              <button class="btn btn-success profile-invite-team" data-toggle="modal" data-target="#profile-invite-member">Lets Hack</button>
              <h3 style="text-align: center; margin-top: 70px; display: none;">We sent an email inviting <%= @hacker.name %> to <%= current_user.team.name %></h3>
            </div>

            <div class="modal fade" id="profile-invite-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Team Invite</h4>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <input type="hidden" name="hacker_id" class="p_invi_hacker_id" value="<%= @hacker.id %>">
                    <input type="hidden" name="by_who" class="p_invi_by_who" value="<%= current_user.id %>">

                    <div class="pre-invite">
                      <h3>You are about to invite <%= @hacker.name %> <br> to your team <%= current_user.team.name %></h3>
                      <h3>Are You Sure?</h3>
                    </div>
                    <div class="after-invite-action"></div>
                  </div>
                  <div class="modal-footer" style="overflow: hidden;">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No Never Mind</button>
                    <button type="button" class="btn btn-primary dude-invite-me">Yes Invite</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div>

  </div>
</div>
