<div class="container">
  <div class="row">

    <div class="col-md-6">
      
      <h2>Edit Profile</h2>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px; margin-bottom: 27px;">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label "Name" %>
          <%= f.text_field :name, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Bio" %>
          <%= f.text_area :bio, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Email address" %>
          <%= f.email_field :email, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "BTC address" %>
          <%= f.text_field :btc_address, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Password" %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Password confirmation" %>
          <%= f.password_field :password_confirmation, :class => "form-control" %>
        </div>

        <div><%= f.submit "Update", :class => "btn btn-default" %></div>
      <% end %>

    </div>

    <div class="col-md-4">
      
      <h2>Never Mind</h2>
      <hr class="aligncenter mb" style="margin-left: 0px; margin-right: 0px; margin-bottom: 27px;">

      <p>Unhappy? <%= button_to "Release my ticket", registration_path(resource_name), data: { confirm: "You are about to release your participant ticket, Are you sure?" }, method: :delete, :class => "btn btn-default" %></p>

    </div>
  </div>
</div>