<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h">
  <div class="container">
    <div class="row">
      <h1>Blockchain Beach<br />Bitcoin Hackathon</h1>
      <h5>January 9th to 11th - Miami, Florida</h5>
      <h2>Do you want to create code that empowers people all over the world?</h2>
      <p class="mt"><button class="btn btn-conf btn-green">Register Now</button><button class="btn btn-conf btn-clear">Learn More</button></p>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/H -->

<!-- ********** STAND OUT / CALL TO ACTION ********** -->
<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 section-transparent">
        <div class="row">
          <div class="col-sm-9">
            <h6>BLOCKCHAIN BEACH</h6>
            <h3>Some words from our founding members.</h3>
            <p>We created this non-profit to foster the bitcoin adoption and education in our local community.</p>
            <p class="mt"><button class="btn btn-conf btn-clear">Continue Reading</button></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 section-bg-color">
        <div class="row">
          <div class="col-sm-3 mt">
            <div class="circle-icon">
              <div class="icon ion-ios7-clock-outline"></div>
            </div>
          </div><!--/col-sm-4-->
          <div class="col-sm-9">
            <h5>REGISTER NOW!</h5>
            <h3>Limited Participant Seats Available</h3>
            <p>Don't miss your chance at winning your share of $15,000 in prizes plus achieving the recognition that comes with winning in Miami's first ever bitcoin hackathon</p>
            <p class="mt"><button class="btn btn-conf btn-clear">Register</button></p>
          </div>
        </div><!--/row-->
      </div><!-- /col-sm-6-->
    </div><!--/row -->
  </div><!--/container -->
</section><!--/NEWS -->

<!-- ********** SPONSORS ********** -->
<section id="sponsors"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SPONSORS</h2>
    <hr class="aligncenter mb">
    <!-- Speakers First Row -->
    <div class="col-md-2 centered">
      <%= image_tag 'sponsors/rm-and-associates.jpg', :height => '120', :class => 'img-square' %>
    </div>
    <div class="col-md-4">
      <h4>RM &amp; ASSOCIATES</h4>
      <h6><tg>CEO OF LANDING SUMO</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-2 centered">
      <%= image_tag 'ui-02.jpg', :height => '120', :class => 'img-circle' %>
    </div>
    <div class="col-md-4">
      <h4>LUKE JHONSON</h4>
      <h6><tg>CEO OF LANDING SUMO</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <!--/End Row of Speakers-->
  </div><!--/row-->
  <div class="row mt">
    <!-- Speakers Second Row -->
    <div class="col-md-2 centered">
      <%= image_tag 'ui-03.jpg', :height => '120', :class => 'img-circle' %>
    </div>
    <div class="col-md-4">
      <h4>MARK BROWN</h4>
      <h6><tg>CEO OF LANDING SUMO</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-2 centered">
      <%= image_tag 'ui-04.jpg', :height => '120', :class => 'img-circle' %>
    </div>
    <div class="col-md-4">
      <h4>LAURA STERN</h4>
      <h6><tg>CEO OF LANDING SUMO</tg></h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  <!--/End Row of Speakers-->
  </div><!--/row-->
</div><!--/container-->

<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="topics"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">BLOCKCHAIN BEACH INITIATIVE</h2>
      <hr class="aligncenter mb">
      <div class="col-md-4">
        <tgr><i class="icon ion-social-bitcoin"></i></tgr>
        <h3 class="mb">Why bitcoin?</h3>
        <p>Bitcoin has changed the way we transfer value forever. It is an open system that allows for innovation without permission. The code is open source and avialable to anyone anywhere to run and review. The technology is extremly powerful and allows coders like yourself to build some amazing things. We really feel that Bitcoin can be a tool to empower people around the world. It can also make storing value and transfering it online extremly frictionless. The system doesnt care about the users creed, color, race or status anyone can use it. Plus who likes banks?</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon ion-earth"></i></tgr>
        <h3 class="mb">Why Miami?</h3>
        <p>
          We chose Miami because its geographical location makes it a gateway to the rest of the world. Bitcoin is the currency and network of the world. Not only are there poeple in Miami that can greatly benfit from Bitcoin, but poeple from all over the world constantly travel here for both business and pleasure.</p>
      </div><!--/col-md-4-->
      <div class="col-md-4">
        <tgr><i class="icon ion-social-android"></i></tgr>
        <h3 class="mb">What does this mean for developers?</h3>
        <p>Bitcoin provides a great oppurtunity for developers. Like the internet Bitcoin is an open protocol. This means you can build awesome apps that leverege the protocol and allow you to do things never done before. Great hackers all over the world are using Bitcoin to build great software. VC funding is measured to set a record year 2014 with over 350 Million invested in Bitcoin startups. Bitcoin startups are hiring and understanding block chain centered protocols such as Bitcoin will be in demand. Check out some examples below:</p>
        <ul>
          <li>Micropayment channels</li>
          <li>Social network tipping apps</li>
          <li>Notary services</li>
          <li>Open source bitcoin wallets</li>
          <li>Decentralized market places</li>
          <li>Privacy Bitcoin wallets</li>
          <li>Bill payment services</li>
          <li>Crowdfunding platorms</li>
        </ul>
      </div><!--/col-md-4-->
    </div>
  </div><!--/container-->
</div><!--/G-->

<!-- ********** WHITE SECTION - SCHEDULE ********** -->
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SCHEDULE</h2>
    <hr class="aligncenter mb">

    <div class="col-md-4">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <h3 class="mtb">Day 1 - Welcome Reception</h3>
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                7:00pm - 8:00pm<br/>
                <tg>Welcome & Registration</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                8:00pm - 9:00pm<br/>
                <tg>Speech</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                9:00pm - 10:00pm<br/>
                <tg>Mixer &amp; Team Forming</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->
    </div><!--/col-md-4-->

    <div class="col-md-4">
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
      <h3 class="mtb">Day 2 - Hacking</h3>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                12:00pm - 1:15pm<br/>
                <tg>Registration &amp; Setup</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                1:15pm - 6:00pm<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                6:00pm - 7:00pm<br/>
                <tg>Dinner</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                7:00pm - 12:00am<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->
    </div><!--/col-md-4-->

    <div class="col-md-4">
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
      <h3 class="mtb">Day 3 - Hacking, Prizes &amp; After Party</h3>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                12:00am - 7:00am<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                7:00am - 8:00am<br/>
                <tg>Breakfast</tg>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                8:00am - 1:15pm<br/>
                <tg>Hacking</tg>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                1:30pm - 3:30pm<br/>
                <tg>Presentation</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                3:30pm - 4:00pm<br/>
                <tg>Judging</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                4:00pm - 4:30pm<br/>
                <tg>Awards</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                5:00pm - 11:00pm<br/>
                <tg>After Party</tg>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
            </div>
          </div>
        </div>
      </div><!--/Panel Group -->
    </div><!--/col-md-4-->

  </div><!--/row-->
</div><!--/container-->

<!-- ********** TESTIMONIALS ********** -->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6 section-bg-grey centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h3>I enjoyed so much the last edition of Landing Sumo, that I bought the tickets for the new one edition of the event the first day.</h3>
              <h5><tgr>DAVID JHONSON</tgr></h5>
            </div>
            <div class="item">
              <h3>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h3>
              <h5><tgr>MARK LAWRENCE</tgr></h5>
            </div>
            <div class="item">
              <h3>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration, by injected humour.</h3>
              <h5><tgr>LISA SMITH</tgr></h5>
            </div>
          </div>
        </div><!--/Carousel-->
      </div><!--/col-sm-6-->
    </div><!--/row-->
  </div><!--/container-->
</section><!--/testimonials-->


<!-- ********** PRICING ********** -->
<section id="purchase"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">REGISTRATION</h2>
    <hr class="aligncenter mb">
    <div class="col-md-5 col-md-offset-1">
      <div class="row price-tag">
        <div class="col-sm-5 centered">
          <h1>FREE</h1>
          <h5>PARTICIPANT</h5>
        </div>
        <div class="col-sm-7 centered">
          <h4>DAY 1 & 2 STANDARD</h4>
          <p>
            Launch Included<br/>
            Materials Included<br/>
            Access to all areas<br/><br/>
            <button class="btn btn-conf btn-green">Register</button>
          </p>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->

    <div class="col-md-5">
      <div class="row price-tag-green">
        <div class="col-sm-5 centered">
          <h1>$10</h1>
          <h5>OBSERVER &amp; AFTER PARTY</h5>
        </div>
        <div class="col-sm-7 centered">
          <h4>DAY 1 & 2 GOLD PASS</h4>
          <p>
            VIP Launch Included<br/>
            Materials Included<br/>
            After Party Access<br/><br/>
            <button class="btn btn-conf btn-clear">Purchase</button>
          </p>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->
  </div><!--/row-->

  <div class="row mt">
    <div class="col-md-3">
      <h5><tgr>DO YOU ACCEPT PAYPAL?</tgr></h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration, by injected humour.</p>
    </div>
    <div class="col-md-3">
      <h5><tgr>CAN I CANCEL MY PURCHASE?</tgr></h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration, by injected humour.</p>
    </div>
    <div class="col-md-3">
      <h5><tgr>WHAT IS INCLUDED IN THE GOLD PASS?</tgr></h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration, by injected humour.</p>
    </div>
    <div class="col-md-3">
      <h5><tgr>WHICH MATERIALS ARE INCLUDED?</tgr></h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration, by injected humour.</p>
    </div>
  </div>
</div><!--/container-->

<!-- ********** SPONSORS ********** -->
<div id="g">
  <div class="container">
    <div class="row sponsor centered">
      <div class="col-sm-2 col-sm-offset-1">
        <%= image_tag 'client1.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client2.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client3.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client4.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client5.png' %>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/G-->

<!-- ********** FOOTER ********** -->
<section id="contact"></section>
<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>Don't miss any news. Subscribe below to be updated.</h2>
      <div class="col-md-6 col-md-offset-3 mt">
        <form role="form" action="register.php" method="post" enctype="plain">
          <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-conf btn-green' type="submit">Subscribe</button>
        </form>
      </div><!--/col-md-6-->
    </div><!--/row-->
    <div class="row mt">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <h3>Welcome Reception &amp; Main Event Site</h3>
            <h5>
              UM Launchpad<br/>
              Miami, FL<br/>
              United States
            </h5>
            <h5>hello@landingsumo.com</h5>
          </div>
          <div class="col-sm-5">
            <h3>After Party Location</h3>
            <h5>
              Brick House<br/>
              Wynwood, FL<br/>
              United States
            </h5>
            <h5>event@landingsumo.com</h5>
          </div>
        </div>
      </div><!--/col-md-8-->
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<!-- ********** MAP********** -->
<div id="map-contact"></div>
