<video autoplay id="bgvid" loop muted>
  <% if Rails.env.production? %>
    <source src="<%= asset_path('miami.webm') %>" type="video/webm">
  <% else %>
    <source src="https://s3.amazonaws.com/miamibitcoinhackathon/misc/miami.webm" type="video/webm">
    <source src="https://s3.amazonaws.com/miamibitcoinhackathon/misc/miami.mp4" type="video/mp4">
    <source src="https://s3.amazonaws.com/miamibitcoinhackathon/misc/miami.ogv" type="video/ogg">
  <% end %>
</video>

<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h" style="height: 100%;">

  <div class="container">
    <div class="row">
      <h1>Miami Bitcoin<br />Hackathon</h1>
      <h5>January 9th to 11th - Miami, Florida</h5>
      <h2>Do you want to create code that empowers people all over the world?</h2>
      <p class="mt">
        <a href="#registration" class="smoothScroll btn btn-conf btn-green register-now-button">Register Now</a>
        <a href="#initiative" class="smoothScroll btn btn-conf btn-clear learn-more-button">Learn More</a>
      </p>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/H -->


<!-- ********** SPONSORS ********** -->
<section id="sponsors"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SPONSORS & PARTNERS</h2>
    <hr class="aligncenter mb">
    <div class="col-md-9 col-sm-9 col-lg-12 bigboys">
      <a href="http://bitstop.co/" target="_blank">
        <%= image_tag 'sponsors/bitstop.png' %>
      </a>
      <a href="http://www.refreshmiami.com/" target="_blank">
        <%= image_tag 'sponsors/refresh_miami.png' %>
      </a>
      <a href="http://pollotropical.com/" target="_blank">
        <%= image_tag 'sponsors/pollo_tropical.png', :style => "height: 133px; width: auto;" %>
      </a>
      <a href="https://coinkite.com/" target="_blank">
        <%= image_tag 'sponsors/coinkite.png' %>
      </a>

      <a href="https://www.trucoin.com/" target="_blank">
        <%= image_tag 'sponsors/trucoin.png' %>
      </a>
      <a href="http://btcmiami.com/" target="_blank">
        <%= image_tag 'sponsors/btcmiami.png' %>
      </a>
      <a href="http://www.mdc.edu/main/" target="_blank">
        <%= image_tag 'sponsors/miami_dade_college.png' %>
      </a>
      <a href="http://collegecrypto.org/" target="_blank">
        <%= image_tag 'sponsors/ccn.jpg' %>
      </a>
      <a href="http://www.miami.edu/" target="_blank">
        <%= image_tag 'sponsors/u.jpg' %>
      </a>
      <a href="#" target="_blank">
        <%= image_tag 'sponsors/rm-and-associates.jpg', :style => "height: 151px; width: auto;" %>
      </a>
      <a href="http://www.amlclass.com/" target="_blank">
        <%= image_tag 'sponsors/aml_compliance_solutions.png', :style => "height: 151px; width: auto;" %>
      </a>
    </div>
  </div><!--/row-->
</div><!--/container-->

<!-- ********** GREY SECTION - PRIZES ********** -->
<section id="prizes"></section>
<div id="g">
  <div class="container">
    <div class="row">

      <h2 class="centered">PRIZES</h2>
      <hr class="aligncenter mb">
      <div class="col-md-6 col-md-offset-3">

        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <i class="icon ion-trophy"></i>
            </div>
            <div class="col-md-5">
              <p><strong>1st Place - Satoshi</strong>
                <ul>
                  <li>$10,000 in bitcoins</li>
                  <li>Acknowledgement of victory on stage at TNABC</li>
                  <li>Free passes to TNABC</li>
                  <!--<li>One Trezor Hardware Wallet Device</li>-->
                  <li>First place winner of hackathon gets one year of Coinkite professional membership ($300 value)</li>
                  <li>Mad respect / street cred</li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <i class="icon ion-ribbon-a"></i>
            </div>
            <div class="col-md-5">
              <p><strong>2nd Place - Finney</strong>
                <ul>
                  <li>$3500 in bitcoins</li>
                  <!--<li>One Trezor Hardware Wallet Device</li>-->
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <i class="icon ion-ribbon-b"></i>
            </div>
            <div class="col-md-5">
              <p><strong>3rd Place - Dorian</strong>
                <ul>
                  <li>$1000 in bitcoins</li>
                  <!--<li>One Trezor Hardware Wallet Device</li>-->
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <br />
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <i class="icon ion-android-star"></i>
            </div>
            <div class="col-md-5">
              <p>Bonus Multiplier: If a team wins any place, 1st to 3rd using the Coinkite API, they get 1 year of Coinkite business membership ($3000 value)</p>
            </div>
          </div>
        </div>

</div>
    </div>
  </div><!--/container-->
</div><!--/G-->

<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="initiative"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">BLOCKCHAIN BEACH INITIATIVE</h2>
    <hr class="aligncenter mb">
    <div class="col-md-4">
      <tgr><i class="icon ion-social-bitcoin"></i></tgr>
      <h3 class="mb">Why Bitcoin?</h3>
      <p>Bitcoin has changed the way we transfer value forever. It’s an open protocol that allows for innovation without permission. The code is open source and available to anyone to analyze or build upon. The technology of Bitcoin is revolutionary because it allows anyone to create digital scarcity without need for trusted third parties.</p>
      <p>By removing trusted third parties, we can conduct transactions without the need to trust one another thereby making transactions of any digital property or value extremely efficient and secure. The Bitcoin network is agnostic and doesn’t care about user’s creed, place of birth, race or status - anyone can use Bitcoin. This provides exceptional potential and opportunities for so many revolutionary applications.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <tgr><i class="icon ion-earth"></i></tgr>
      <h3 class="mb">Why Miami?</h3>
      <p>Because of all the opportunity! Miami is a melting pot of many different ethnicities and it’s also a financial hub to Europe, Central and South America, and the Caribbean. Miami is one of the most unbanked and underbanked cities in the United States with one out of every five people without a bank account. Miami is also a tourist and international business hotspot; people from all over the world travel here for both business and pleasure. Bitcoin can allow anyone in the world to transfer value as long as they have access to the Internet.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <tgr><i class="icon ion-link"></i></tgr>
      <h3 class="mb">Who is Blockchain Beach?</h3>
      <p>Blockchain Beach is a group of educators, entrepreneurs, colleagues and enthusiasts who all share a common passion for blockchain technology and decentralized cryptocurrency.</p>
      <p>Our mission is to empower the South Florida community through education of Blockchain based technologies. Our primary focus is to provide a consistent delivery of informative content in an effort to motivate and cultivate the entrepreneurial community in South Florida.</p>
    </div><!--/col-md-4-->
  </div>
</div><!--/container-->

<!-- ********** JUDGES ********** -->
<section id="judges"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">JUDGES</h2>
      <hr class="aligncenter mb">
      <!-- Speakers First Row -->
      <!--
      <div class="col-md-2 centered">
        <%= image_tag 'judges/chris_derose.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Chris DeRose</h4>
        <h6><tg>Community Director of Counterparty Foundation</tg></h6>
        <p>Chris DeRose is an active Bitcoin evangelist, rubyist, and sometimes pythonista. Chris writes for Bitcoin Magazine, contributes to Let's talk Bitcoin, and loves to talk Smart Contracts and user assets. Chris is the “Community Director” of the Counterparty Foundation, and has two amazing cats that have both been trained to balance on one paw.</p>
      </div>
      <div class="col-md-2 centered">
        <%= image_tag 'judges/shawn_wilkinson.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Shawn Wilkinson</h4>
        <h6><tg>Founder & Lead Developer of Storj.io</tg></h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>-->
    </div><!--/row-->
    <div class="row mt">
      <!-- Speakers Second Row -->
      <div class="col-md-2 centered">
        <%= image_tag 'judges/peter_martinez.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Peter Martinez</h4>
        <h6><tg>Co-founder of <a href="http://www.accredify.com" target="_blank">Accredify.com</a> &amp; tech community organizer</tg></h6>
        <p>A serial entrepreneur, Peter has successfully launched several tech startups which have engaged millions of users and have been featured on news outlets including BBC News, the Washington Post, USA Today, the Miami Herald, TechCrunch, Mashable, among others.</p>
      </div>
      <div class="col-md-2 centered">
        <%= image_tag 'judges/doug_carrillo.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Doug Carrillo</h4>
        <h6><tg>Co-Founder of <a href="http://www.bitstop.co" target="_blank">Bitstop</a></tg></h6>
        <p>Doug is an entrepreneur who has started several successful businesses.  He was born and raised in Miami, FL.  Currently, he is a Co-Founder at Bitstop which provides Bitcoin related services for both consumers and businesses in South Florida. He has a fourth degree blackbelt in cryptocurrency mining and working with developers to create useful applications using Bitcoin's blockchain technology.</p>
      </div>
    <!--/End Row of Speakers-->
    </div><!--/row-->
    <div class="row mt">
      <!-- Speakers Second Row -->
      <div class="col-md-2 centered">
        <i class="icon ion-person tba-judge"></i>
      </div>
      <div class="col-md-4">
        <h4>TBA</h4>
      </div>
      <div class="col-md-2 centered">
        <i class="icon ion-person tba-judge"></i>
      </div>
      <div class="col-md-4">
        <h4>TBA</h4>
      </div>
      <!--/End Row of Speakers-->
    </div><!--/row-->
  </div><!--/container-->
</div>

<!-- ********** WHITE SECTION - SCHEDULE ********** -->
<section id="schedule"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SCHEDULE</h2>
    <hr class="aligncenter mb">

    <div class="col-md-4">
      <div class="day" id="friday">
        <h3 class="mtb" style="text-align: center;  margin-bottom: 15px; margin-top: 28px;">Friday</h3>
        <h6 style="text-align: center;">Jan 9</h6>
        <ul class="events" style="margin: 0 auto; width: 293px;">
          <li>
            <time>6:30pm</time>
            <span>Registration Starts</span>
          </li>
          <li>
            <time>7:00pm</time>
            <span>Drinks &amp; Networking</span>
          </li>
          <li>
            <time>7:30pm</time>
            <span>Kickoff &amp; Speakers</span>
          </li>
          <li>
            <time>8:00pm</time>
            <span>Pitches
          </li>
          <li>
            <time>9:00pm</time>
            <span>Finish forming teams</span>
          </li>
          <li>
            <time>10:00pm</time>
            <span>Welcome Reception Ends</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="day" id="saturday">
        <h3 class="mtb" style="text-align: center;  margin-bottom: 15px; margin-top: 28px;">Saturday</h3>
        <h6 style="text-align: center;">Jan 10</h6>
        <ul class="events" style="margin: 0 auto; width: 293px;">
          <li>
            <time>8:00am</time>
            <span>Breakfast</span>
          </li>
          <li>
            <time>9:00am</time>
            <span>Begin Hacking</span>
          </li>
          <li>
            <time>12:00pm</time>
            <span>Lunch</span>
          </li>
          <li>
            <time>7:00pm</time>
            <span>Dinner</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="day" id="sunday">
        <h3 class="mtb" style="text-align: center;  margin-bottom: 15px; margin-top: 28px;">Sunday</h3>
        <h6 style="text-align: center;">Jan 11</h6>
        <ul class="events" style="margin: 0 auto; width: 293px;">
          <li>
            <time>8:00am</time>
            <span>Breakfast</span>
          </li>
          <li>
            <time>12:00pm</time>
            <span>Lunch</span>
          </li>
          <li>
            <time>1:00pm</time>
            <span>Gut check. Start prepping for presentations</span>
          </li>
          <li>
            <time>1:30pm</time>
            <span>Presentations</span>
          </li>
          <li>
            <time>4:00pm</time>
            <span>Judging Begins</span>
          </li>
          <li>
            <time>5:00pm</time>
            <span>Awards Distributed</span>
          </li>
          <li>
            <time>6:00pm</time>
            <span>After Party</span>
          </li>
        </ul>
      </div>
    </div>

  </div><!--/row-->
</div><!--/container-->

<section id="resources"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">DEVELOPER RESOURCES</h2>
      <hr class="aligncenter mb">

      <div class="row grid-row">
        <div class="col-md-3 col-md-offset-4">
          <h4>API's</h4>

          <ul>
            <li><a href="https://bitpay.com/developers" target="_blank" data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div><div class='code-language perl'>Perl</div><div class='code-language android'>Android</div>">bitpay</a></li> <!-- php, python, ruby, java, c#, perl, anroid-->
            <li><a href="https://insight.is/" target="_blank"  data-toggle="tooltip" title="<div class='code-language javascript'>NodeJS</div>">insight.is</a></li> <!-- node -->
            <li><a href="https://chain.com/" target="_blank"  data-toggle="tooltip" title="<div class='code-language ruby'>Ruby</div><div class='code-language javascript'>NodeJS</div><div class='code-language objective-c'>Objective-C</div><div class='code-language swift'>Swift</div><div class='code-language javascript'>Javascript</div>">chain.com</a></li> <!-- ruby, objective-c, swift, node, js -->
            <li><a href="https://blockchain.info/api" target="_blank"  data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div>">blockchain.info</a></li> <!-- python, java, c#, ruby, php  -->
            <li><a href="https://coinbase.com/docs/api/overview" target="_blank"  data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div><div class='code-language javascript'>NodeJS</div>">coinbase.com</a></li> <!-- ruby, php, java, python, node, c#-->
            <li><a href="https://coinkite.com/faq/developers" target="_blank" data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language javascript'>Javascript</div>">coinkite.com</a></li> <!-- python, ruby, php, javascript -->
          </ul>
        </div>

        <div class="col-md-3">
          <h4>Bitcoin Libraries</h4>

          <ul>
            <li><a href="https://github.com/bitcoin/bitcoin" target="_blank">Bitcoin Core</a></li>
            <li><a href="https://code.google.com/p/bitcoinj/" target="_blank">bitcoinj</a></li>
            <li><a href="https://github.com/nbobtc/bitcoind-php/" target="_blank">bitcoind</a></li>
            <li><a href="http://bitcoinjs.org/" target="_blank">bitcoinJS</a></li>
            <li><a href="https://github.com/libbitcoin/libbitcoin/" target="_blank">libbitcoin</a></li>
            <li><a href="http://bitcore.io/" target="_blank">bitcore.io</a></li>
            <li><a href="https://github.com/conformal/btcd" target="_blank">btcd</a></li>
            <li><a href="https://github.com/coinbase/toshi/" target="_blank">Toshi</a></li>
          </ul>
        </div>
      </div>

      <div class="row grid-row">
        <div class="col-md-3 col-md-offset-4">
          <h4>Blockchain Explorer's</h4>

          <ul>
            <li><a href="https://blockchain.info/" target="_blank">blockchain.info</a></li>
            <li><a href="http://blockr.io/" target="_blank">blockr.io</a></li>
            <li><a href="https://www.biteasy.com/" target="_blank">biteasy.com</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h4>Guides</h4>

          <ul>
            <li><a href="https://bitcoin.org/en/developer-guide" target="_blank">bitcoin.org</a></li>
            <li><a href="https://github.com/aantonop/bitcoinbook" target="_blank">bitcoinbook</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div><!--/container-->
</div><!--/G-->

<section id="inspiration"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">INSPIRATION</h2>
    <hr class="aligncenter mb">
    <div class="col-md-12">
      <p>Bitcoin provides a great opportunity for developers. Like the Internet, the Bitcoin network is an open protocol that allows any developer to build whatever comes to imagination. Brilliant minds and talented developers all over the world are using Bitcoin to build great software. VC funding in Bitcoin is measured to set a record year in 2014 with over <a href="http://www.coindesk.com/bitcoin-venture-capital/">400 Million Dollars</a> invested into Bitcoin startups. Bitcoin startups are in a hiring frenzy because they understand that Block Chain centered protocols such as Bitcoin will be in high demand. Check out some examples below:</p>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul>
              <li>
                <a href= "https://www.youtube.com/watch?v=HmYP-7pcdhM" target="_blank">Micropayment channels</a>
              </li>
              <li>
                <a href="https://www.changetip.com" target="_blank">Social network tipping apps</a>
              </li>
              <li>
                <a href="https://github.com/schildbach/bitcoin-wallet" target="_blank">Open source bitcoin wallets</a>
              </li>
              <li>
                <a href="https://www.openbazaar.com" target="_blank">Decentralized market places</a>
              </li>
            </ul>
            <ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <a href="https://www.darkwallet.is/" target="_blank">Privacy Bitcoin wallets</a>
              </li>
              <li>
                <a href="https://purse.io/" target="_blank">Financial services</a>
              </li>
              <li>
                <a href="http://twister.net.co/" target="_blank">Decentralized p2p microblogging services</a>
              </li>
              <li>
                <a href="https://onename.io/" target="_blank">Decentralized identity services</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <a href="https://www.bitwage.co/" target="_blank">Payroll services</a>
              </li>
              <li>
                <a href="http://www.proofofexistence.com/" target="_blank">Notary services</a>
              </li>
              <li>
                <a href="https://www.livingroomofsatoshi.com/" target="_blank">Bill payment services</a>
              </li>
              <li>
                <a href="https://www.swarm.co/" target="_blank">Crowdfunding platorms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/col-md-12-->
  </div><!--/row-->
</div><!--/container-->


<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag 'map.png', :style => 'width: 100%; max-height: 419px;' %>
      </div>
      <div class="col-sm-6 section-bg-grey centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 191px;">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h2>Low transaction fees & High speed</h2>
              <h3>Typically only a miners fee of 0.0001 btc ($<%= @minerFee['subtotal']['amount'] %>) can cover the cost of any size transaction. Transactions are fast and settled permanetly!</h3>
            </div>
            <div class="item">
              <h2>Open Source</h2>
              <h3>The protocol is open source so you know the rules. The system is transparent and does not require you to trust other user. Trust is baked into Bitcoin making it trustworthy for you.</h3>
            </div>
            <div class="item">
              <h2>Decentralized</h2>
              <h3>Like Bittorrent it is run by people all over the world so there is no central point to shutdown</h3>
            </div>
            <div class="item">
              <h2>For the poeple by the people</h2>
              <h3>Bitcoin is peer to peer. That means no middle men if you dont need them. Just like us, there are people all over the world hacking away at the future of payments.</h3>
            </div>
          </div>
        </div><!--/Carousel-->
      </div><!--/col-sm-6-->
    </div><!--/row-->
  </div><!--/container-->
</section><!--/testimonials-->


<section id="registration"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">REGISTRATION</h2>
    <hr class="aligncenter mb">
    <div class="col-md-5 col-md-offset-1">
      <div class="row price-tag">
        <div class="col-sm-5 centered">
          <h1>FREE</h1>
          <h5>PARTICIPANT</h5>
        </div>
        <div class="col-sm-7 centered">
          <h4>DAY 1 & 2 & 3</h4>
          <p>
            Food Included<br/>
            Access to all areas<br/><br/>
            <%= link_to 'Register', new_user_registration_path, :class => "btn btn-conf btn-green" %>
          </p>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->

    <div class="col-md-5">
      <div class="row price-tag-green">
        <div class="col-sm-5 centered">
          <h1>FREE</h1>
          <h5>OBSERVER &amp; AFTER PARTY</h5>
        </div>
        <div class="col-sm-7 centered">
          <h4>DAY 3</h4>
          <p>
            Presentation Observer<br/>
            After Party Access<br/><br/>
            <button class="btn btn-conf btn-clear" data-toggle="modal" data-target="#observer">Register</button>
          </p>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->
  </div><!--/row-->

  <div class="row mt">
    <div class="col-md-4">
      <h3><tgr>Can I bring a team?</tgr></h3>
      <p>Yes, though we have a limit of 5 members per team. You can bring your friends or you can team up with other hackers on site. No matter what you choose, be ready to hack!</p>
    </div>
    <div class="col-md-4">
      <h3><tgr>Do you own my hack?</tgr></h3>
      <p>No, all code is yours. This hackathon is for you to have some fun, meet great people, do some good -- and have a chance to win $10k.</p>
    </div>
    <div class="col-md-4">
      <h3><tgr>Should I bring my pyjamas?</tgr></h3>
      <p>Expect to stay overnight, so bring whatever you need to get you through a 24 hour hack fest. We'll provide some sleep spaces for those who need to crash or when the energy drink starts to ebb. Remember you are in a public forum, so do cover up.</p>
    </div>
    <div class="col-md-4">
      <h3><tgr>What kind of code can I write?</tgr></h3>
      <p>All breeds of code welcome.</p>
    </div>
  </div>

  <div class="row mt">
  <h2 class="centered">RULES & TERMS</h2>
    <hr class="aligncenter mb">

    <div class="col-md-12 rules-terms">
      <ol>
        <li>
          <h3>Participants must be 18 years of age or older unless accompanied by a legal guardian.</h3>
        </li>
        <li>
          <h3>Eligible participants may participate individually or as a team up to a limit of 5 people per team. A team can be just one person or up to five people.</h3>
        </li>
        <li>
          <h3>Participants must register on www.MiamiBitcoinHackathon.com before January 7, 2015 12:00 a.m. Eastern Standard Time.</h3>
        </li>
        <li>
          <h3>Submitted app must incorporate Bitcoin.</h3>
        </li>
        <li>
          <h3>Each Participant is eligible to receive only one prize from Blockchain Beach, whether individually or as a group.</h3>
        </li>
        <li>
          <h3>Winners must accept prizes in the form of bitcoin. Conversion rates will be Coinbase spot sell price at the time of transfer.</h3>
        </li>
        <li>
          <h3>All submitted code must be created between the Twenty-eight (28) hour time period start and stop time. Any participant or team who uses code, which has been created before the hackathon start time will automatically be disqualified.</h3>
        </li>
        <li>
          <h3>The team’s project must be hosted in Github in a public repo. Your team page must be updated with the repo’s url.</h3>
        </li>
        <li>
          <h3>Participants can only contribute code toward their respective team and cannot share code, ideas or contribute code towards other teams.</h3>
        </li>
        <li>
          <h3>By submitting your code, you agree to the <%= link_to 'terms and conditions.', rules_path, :target => "blank" %></h3>
        </li>
        <li>
          <h3>Blockchain Beach registered agents, directors and officers at the time of this event cannot participate in this hackathon.</h3>
        </li>
      </ol>
    </div>
  </div>
</div><!--/container-->

<!-- ********** FOOTER ********** -->
<section id="contact"></section>
<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>Don't miss any news. Subscribe below to be updated.</h2>
      <div class="col-md-6 col-md-offset-3 mt">
        <form role="form" action="register.php" method="post" enctype="plain">
          <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-conf btn-green' type="submit">Subscribe</button>
        </form>
      </div><!--/col-md-6-->
    </div><!--/row-->
    <div class="row mt">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <h3>Welcome Reception &amp; Main Event Site</h3>
            <h5>
              UM Life Science and Technology Park<br/>
              1951 Northwest 7th Avenue<br />
              Miami, FL 33136<br />
              United States
            </h5>
          </div>
          <div class="col-sm-5">
            <h3>After Party Location</h3>
            <h5>
              Brick House<br/>
              187 Northwest 28th Street<br />
              Wynwood, FL 33127<br />
              United States
            </h5>
          </div>
        </div>
      </div><!--/col-md-8-->
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<!-- ********** MAP********** -->
<div id="map-contact"></div>

<div class="modal fade" id="observer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Observer & After Party Registration</h4>
      </div>
      <%= form_for(@observer, remote: true, :html => {:class => "form-horizontal"}) do |f| %>
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :name, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, :class => "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :email, :class => "form-control" %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Never Mind</button>
          <%= f.submit 'Register', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="registration_process" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content" style="text-align: center;">
      <i class="fa fa-circle-o-notch fa-spin fa-5x observer-validator-loading" style="margin: 90px 0px;"></i>

      <div class="observer-success">
        <i class="fa fa-smile-o" style="font-size: 189px;"></i>
        <h1>Success</h1>
        <h2>See you January 11 at 2:00 pm</h2>
      </div>
    </div>
  </div>
</div>
