<video autoplay id="bgvid" loop muted>
  <source src="<%= asset_path('miami.webm') %>" type="video/webm">
</video>

<!-- ********** HEADER ********** -->
<section id="home"></section>
<div id="h" style="height: 100%;">

  <div class="container">
    <div class="row">
      <h1>Miami Bitcoin<br />Hackathon</h1>
      <h5>January 9th to 11th - Miami, Florida</h5>
      <h2>Do you want to create code that empowers people all over the world?</h2>
      <p class="mt">
        <a href="#registration" class="smoothScroll btn btn-conf btn-green">Register Now</a>
        <a href="#initiative" class="smoothScroll btn btn-conf btn-clear">Learn More</a>
      </p>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/H -->


<!-- ********** SPONSORS ********** -->
<section id="sponsors"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SPONSORS & PARTNERS</h2>
    <hr class="aligncenter mb">
    <div class="col-md-9 col-sm-9 col-lg-12 bigboys">
      <a href="http://bitstop.co/" target="_blank">
        <%= image_tag 'sponsors/bitstop.png' %>
      </a>
      <a href="http://www.refreshmiami.com/" target="_blank">
        <%= image_tag 'sponsors/refresh_miami.png' %>
      </a>
      <a href="http://pollotropical.com/" target="_blank">
        <%= image_tag 'sponsors/pollo_tropical.png', :style => "height: 133px; width: auto;" %>
      </a>
      <a href="https://coinkite.com/" target="_blank">
        <%= image_tag 'sponsors/coinkite.png' %>
      </a>
      <a href="http://btcmiami.com/" target="_blank">
        <%= image_tag 'sponsors/btcmiami.png' %>
      </a>
      <a href="http://www.mdc.edu/main/" target="_blank">
        <%= image_tag 'sponsors/miami_dade_college.png' %>
      </a>
      <a href="http://collegecrypto.org/" target="_blank">
        <%= image_tag 'sponsors/ccn.jpg' %>
      </a>
      <a href="http://www.miami.edu/" target="_blank">
        <%= image_tag 'sponsors/u.jpg' %>
      </a>
      <a href="#" target="_blank">
        <%= image_tag 'sponsors/rm-and-associates.jpg', :style => "height: 151px; width: auto;" %>
      </a>
      <a href="http://www.amlclass.com/" target="_blank">
        <%= image_tag 'sponsors/aml_compliance_solutions.png' %>
      </a>
    </div>
  </div><!--/row-->
</div><!--/container-->

<!-- ********** GREY SECTION - PRIZES ********** -->
<section id="prizes"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">PRIZES</h2>
      <hr class="aligncenter mb">

    </div>
  </div><!--/container-->
</div><!--/G-->

<!-- ********** GREY SECTION - TOPICS ********** -->
<section id="initiative"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">BLOCKCHAIN BEACH INITIATIVE</h2>
    <hr class="aligncenter mb">
    <div class="col-md-4">
      <tgr><i class="icon ion-social-bitcoin"></i></tgr>
      <h3 class="mb">Why bitcoin?</h3>
      <p>Bitcoin has changed the way we transfer value forever. It is an open system that allows for innovation without permission. The code is open source and avialable to anyone anywhere to run and review. The technology is extremly powerful and allows coders like yourself to build some amazing things. We really feel that Bitcoin can be a tool to empower people around the world. It can also make storing value and transfering it online extremly frictionless. The system doesnt care about the users creed, color, race or status anyone can use it.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <tgr><i class="icon ion-earth"></i></tgr>
      <h3 class="mb">Why Miami?</h3>
      <p>
        We chose Miami because its geographical location makes it a gateway to the rest of the world. Bitcoin is the currency and network of the world. Not only are there poeple in Miami that can greatly benfit from Bitcoin, but poeple from all over the world constantly travel here for both business and pleasure.</p>
    </div><!--/col-md-4-->
    <div class="col-md-4">
      <tgr><i class="icon ion-social-android"></i></tgr>
      <h3 class="mb">What does this mean for developers?</h3>
      <p>Bitcoin provides a great oppurtunity for developers. Like the internet Bitcoin is an open protocol. This means you can build awesome apps that leverege the protocol and allow you to do things never done before. Great hackers all over the world are using Bitcoin to build great software. VC funding is measured to set a record year 2014 with over 350 Million invested in Bitcoin startups. Bitcoin startups are hiring and understanding block chain centered protocols such as Bitcoin will be in demand. Check out some examples below:</p>
      <ul>
        <li>
          <a href= "https://www.youtube.com/watch?v=HmYP-7pcdhM" target="_blank">Micropayment channels</a>
        </li>
        <li>
          <a href="https://www.changetip.com" target="_blank">Social network tipping apps</a>
        </li>
        <li>
          <a href= "https://www.proofofexistence.com/about" target="_blank">Notary services</a>
        </li>
        <li>
          <a href="https://github.com/schildbach/bitcoin-wallet" target="_blank">Open source bitcoin wallets</a>
        </li>
        <li>
          <a href="https://www.openbazaar.com" target="_blank">Decentralized market places</a>
        </li>
        <li>
          <a href="https://www.darkwallet.is/" target="_blank">Privacy Bitcoin wallets</a>
        </li>
        <li>
          <a href="https://www.livingroomofsatoshi.com/" target="_blank">Bill payment services</a>
        </li>
        <li>
          <a href="https://www.swarm.co/" target="_blank">Crowdfunding platorms</a>
        </li>
      </ul>
    </div><!--/col-md-4-->
  </div>
</div><!--/container-->

<!-- ********** SPEAKERS ********** -->
<section id="judges"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">JUDGES</h2>
      <hr class="aligncenter mb">
      <!-- Speakers First Row -->
      <div class="col-md-2 centered">
        <%= image_tag 'judges/chris_derose.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Chris DeRose</h4>
        <h6><tg>Community Director of Counterparty Foundation</tg></h6>
        <p>Chris DeRose is an active Bitcoin evangelist, rubyist, and sometimes pythonista. Chris writes for Bitcoin Magazine, contributes to Let's talk Bitcoin, and loves to talk Smart Contracts and user assets. Chris is the “Community Director” of the Counterparty Foundation, and has two amazing cats that have both been trained to balance on one paw.</p>
      </div>
      <div class="col-md-2 centered">
        <%= image_tag 'judges/shawn_wilkinson.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Shawn Wilkinson</h4>
        <h6><tg>Founder & Lead Developer of Storj.io</tg></h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <!--/End Row of Speakers-->
    </div><!--/row-->
    <div class="row mt">
      <!-- Speakers Second Row -->
      <div class="col-md-2 centered">
        <%= image_tag 'judges/peter_martinez.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Peter Martinez</h4>
        <h6><tg>Founder of CloudShopper.com & Pikchur.com</tg></h6>
        <p>A serial entrepreneur, Peter has successfully launched several tech startups which have engaged millions of users and have been featured on news outlets including BBC News, the Washington Post, USA Today, the Miami Herald, TechCrunch, Mashable, among others.</p>
      </div>
      <div class="col-md-2 centered">
        <%= image_tag 'judges/doug_carrillo.jpg', :class => 'img-circle', :height => '120' %>
      </div>
      <div class="col-md-4">
        <h4>Doug Carrillo</h4>
        <h6><tg>Co-Founder of Bitstop</tg></h6>
        <p>Doug is an entrepreneur who has started several successful businesses.  He was born and raised in Miami, FL.  Currently, he is a Co-Founder at Bitstop which provides Bitcoin related services for both consumers and businesses in South Florida. He has a fourth degree blackbelt in cryptocurrency mining and working with developers to create useful applications using Bitcoin's blockchain technology.</p>
      </div>
    <!--/End Row of Speakers-->
    </div><!--/row-->
  </div><!--/container-->
</div>

<!-- ********** WHITE SECTION - SCHEDULE ********** -->
<section id="schedule"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">SCHEDULE</h2>
    <hr class="aligncenter mb">

    <div class="col-md-4">
      <div class="day" id="friday">
        <h3 class="mtb" style="text-align: center;  margin-bottom: 15px; margin-top: 28px;">Friday</h3>
        <h6 style="text-align: center;">Jan 9</h6>
        <ul class="events" style="margin: 0 auto; width: 293px;">
          <li>
            <time>6:30pm</time>
            <span>Registration Starts</span>
          </li>
          <li>
            <time>7:00pm</time>
            <span>Dinner &amp; Networking</span>
          </li>
          <li>
            <time>7:20pm</time>
            <span>Kickoff &amp; Speakers</span>
          </li>
          <li>
            <time>8:00pm</time>
            <span>Pitches
          </li>
          <li>
            <time>9:00pm</time>
            <span>Finish forming teams</span>
          </li>
          <li>
            <time>10:00pm</time>
            <span>Begin Work</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="day" id="saturday">
        <h3 class="mtb" style="text-align: center;  margin-bottom: 15px; margin-top: 28px;">Saturday</h3>
        <h6 style="text-align: center;">Jan 10</h6>
        <ul class="events" style="margin: 0 auto; width: 293px;">
          <li>
            <time>8:00am</time>
            <span>Breakfast</span>
          </li>
          <li>
            <time>12:00pm</time>
            <span>Lunch</span>
          </li>
          <li>
            <time>7:00pm</time>
            <span>Dinner</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="day" id="sunday">
        <h3 class="mtb" style="text-align: center;  margin-bottom: 15px; margin-top: 28px;">Sunday</h3>
        <h6 style="text-align: center;">Jan 11</h6>
        <ul class="events" style="margin: 0 auto; width: 293px;">
          <li>
            <time>8:00am</time>
            <span>Breakfast</span>
          </li>
          <li>
            <time>12:00pm</time>
            <span>Lunch</span>
          </li>
          <li>
            <time>1:00pm</time>
            <span>Gut check. Start prepping for presentations</span>
          </li>
          <li>
            <time>2:30pm</time>
            <span>Presentations</span>
          </li>
          <li>
            <time>9:00pm</time>
            <span>After Party</span>
          </li>
        </ul>
      </div>
    </div>

  </div><!--/row-->
</div><!--/container-->

<section id="resources"></section>
<div id="g">
  <div class="container">
    <div class="row">
      <h2 class="centered">DEVELOPER RESOURCES</h2>
      <hr class="aligncenter mb">

              <div class="row grid-row">
                <div class="col-md-3 col-md-offset-4">
                  <h4>API's</h4>

                  <ul>
                    <li><a href="https://bitpay.com/developers" target="_blank"  data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div><div class='code-language perl'>Perl</div><div class='code-language android'>Android</div>">bitpay</a></li> <!-- php, python, ruby, java, c#, perl, anroid-->
                    <li><a href="https://insight.is/" target="_blank"  data-toggle="tooltip" title="<div class='code-language javascript'>NodeJS</div>">insight.is</a></li> <!-- node -->
                    <li><a href="https://chain.com/" target="_blank"  data-toggle="tooltip" title="<div class='code-language ruby'>Ruby</div><div class='code-language javascript'>NodeJS</div><div class='code-language objective-c'>Objective-C</div><div class='code-language swift'>Swift</div><div class='code-language javascript'>js</div>">chain.com</a></li> <!-- ruby, objective-c, swift, node, js -->
                    <li><a href="https://blockchain.info/api" target="_blank"  data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div>">blockchain.info</a></li> <!-- python, java, c#, ruby, php  -->
                    <li><a href="https://coinbase.com/docs/api/overview" target="_blank"  data-toggle="tooltip" title="<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div><div class='code-language javascript'>NodeJS</div>">coinbase.com</a></li> <!-- ruby, php, java, python, node, c#-->
                    <li><a href="https://coinkite.com/faq/developers" target="_blank">coinkite.com</a></li> <!-- python, ruby, php, javascript -->
                  </ul>
                </div>

                <div class="col-md-3">
                  <h4>Bitcoin Core</h4>

                  <ul>
                    <li><a href="https://github.com/bitcoin/bitcoin" target="_blank">Bitcoin Core</a></li>
                    <li><a href="https://code.google.com/p/bitcoinj/" target="_blank">bitcoinj</a></li>
                    <li><a href="https://github.com/libbitcoin/libbitcoin/" target="_blank">libbitcoin</a></li>
                    <li><a href="http://bitcore.io/" target="_blank">bitcore.io</a></li>
                    <li><a href="https://github.com/conformal/btcd" target="_blank">btcd</a></li>
                  </ul>
                </div>
              </div>

              <div class="row grid-row">
                <div class="col-md-3 col-md-offset-4">
                  <h4>Blockchain Explorer's</h4>

                  <ul>
                    <li><a href="https://blockchain.info/" target="_blank">blockchain.info</a></li>
                    <li><a href="http://blockr.io/" target="_blank">blockr.io</a></li>
                    <li><a href="https://www.biteasy.com/" target="_blank">biteasy.com</a></li>
                  </ul>
                </div>

                <div class="col-md-3">
                  <h4>Guides</h4>

                  <ul>
                    <li><a href="https://bitcoin.org/en/developer-guide" target="_blank">bitcoin.org</a></li>
                    <li><a href="https://github.com/aantonop/bitcoinbook" target="_blank">bitcoinbook</a></li>
                  </ul>
                </div>
              </div>

    </div>
  </div><!--/container-->
</div><!--/G-->

<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag 'map.png', :style => 'width: 100%;' %>
      </div>
      <div class="col-sm-6 section-bg-grey centered">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 191px;">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <h2>Low transaction fees & High speed</h2>
              <h3>Typically only a miners fee of .0001 (USD VALUE) can cover the cost of any size transaction. Transactions are fast and settled permanetly!</h3>
            </div>
            <div class="item">
              <h2>Open Source</h2>
              <h3>The protocol is open source so you know the rules. The system is transparent and does not require you to trust other user. Trust is baked into Bitcoin making it trustworthy for you.</h3>
            </div>
            <div class="item">
              <h2>Decentralized</h2>
              <h3>Like Bittorrent it is run by people all over the world so there is no central point to shutdown</h3>
            </div>
            <div class="item">
              <h2>For the poeple by the people</h2>
              <h3>Bitcoin is peer to peer. That means no middle men if you dont need them. Just like us, there are people all over the world hacking away at the future of payments.</h3>
            </div>
          </div>
        </div><!--/Carousel-->
      </div><!--/col-sm-6-->
    </div><!--/row-->
  </div><!--/container-->
</section><!--/testimonials-->


<section id="registration"></section>
<div class="container ptb">
  <div class="row">
    <h2 class="centered">REGISTRATION</h2>
    <hr class="aligncenter mb">
    <div class="col-md-5 col-md-offset-1">
      <div class="row price-tag">
        <div class="col-sm-5 centered">
          <h1>FREE</h1>
          <h5>PARTICIPANT</h5>
        </div>
        <div class="col-sm-7 centered">
          <h4>DAY 1 & 2 & 3</h4>
          <p>
            Food Included<br/>
            Access to all areas<br/><br/>
            <button class="btn btn-conf btn-green">Register</button>
          </p>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->

    <div class="col-md-5">
      <div class="row price-tag-green">
        <div class="col-sm-5 centered">
          <h1>FREE</h1>
          <h5>OBSERVER &amp; AFTER PARTY</h5>
        </div>
        <div class="col-sm-7 centered">
          <h4>DAY 3</h4>
          <p>
            Presentation Observer<br/>
            After Party Access<br/><br/>
            <button class="btn btn-conf btn-clear">Register</button>
          </p>
        </div>
      </div><!--/price-tag-->
    </div><!--/col-md-5-->
  </div><!--/row-->

  <div class="row mt">
    <div class="col-md-4">
      <h3><tgr>Can I bring a team?</tgr></h3>
      <p>Yes, though we have a limit of 5 members per team. You can bring your friends or you can team up with other hackers on site. No matter what you choose, be ready to hack!</p>
    </div>
    <div class="col-md-4">
      <h3><tgr>Do you own my hack?</tgr></h3>
      <p>No, all code is yours. This hackathon is for you to have some fun, meet great people, do some good -- and have a chance to win $10k.</p>
    </div>
    <div class="col-md-4">
      <h3><tgr>Should I bring my pyjamas?</tgr></h3>
      <p>Expect to stay overnight, so bring whatever you need to get you through a 24 hour hack fest. We'll provide some sleep spaces for those who need to crash or when the energy drink starts to ebb. Remember you are in a public forum, so do cover up.</p>
    </div>
    <div class="col-md-4">
      <h3><tgr>What kind of code can I write?</tgr></h3>
      <p>All breeds of code welcome.</p>
    </div>
  </div>
</div><!--/container-->

<!-- ********** SPONSORS ********** -->
<div id="g">
  <div class="container">
    <div class="row sponsor centered">
      <div class="col-sm-2 col-sm-offset-1">
        <%= image_tag 'client1.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client2.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client3.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client4.png' %>
      </div>
      <div class="col-sm-2">
        <%= image_tag 'client5.png' %>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/G-->

<!-- ********** FOOTER ********** -->
<section id="contact"></section>
<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>Don't miss any news. Subscribe below to be updated.</h2>
      <div class="col-md-6 col-md-offset-3 mt">
        <form role="form" action="register.php" method="post" enctype="plain">
          <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-conf btn-green' type="submit">Subscribe</button>
        </form>
      </div><!--/col-md-6-->
    </div><!--/row-->
    <div class="row mt">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <h3>Welcome Reception &amp; Main Event Site</h3>
            <h5>
              UM Launchpad<br/>
              Miami, FL<br/>
              United States
            </h5>
            <h5>hello@landingsumo.com</h5>
          </div>
          <div class="col-sm-5">
            <h3>After Party Location</h3>
            <h5>
              Brick House<br/>
              Wynwood, FL<br/>
              United States
            </h5>
            <h5>event@landingsumo.com</h5>
          </div>
        </div>
      </div><!--/col-md-8-->
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<!-- ********** MAP********** -->
<div id="map-contact"></div>
