%video#bgvid{:autoplay => "", :loop => "", :muted => ""}
  - if Rails.env.production?
    %source{:src => asset_path('miami.webm'), :type => "video/webm"}
      %source{:src => asset_path('miami.mp4'), :type => "video/mp4"}
        %source{:src => asset_path('miami.ogv'), :type => "video/ogg"}
  - else
    %source{:src => "https://s3.amazonaws.com/miamibitcoinhackathon/misc/miami.webm", :type => "video/webm"}
      %source{:src => "https://s3.amazonaws.com/miamibitcoinhackathon/misc/miami.mp4", :type => "video/mp4"}
        %source{:src => "https://s3.amazonaws.com/miamibitcoinhackathon/misc/miami.ogv", :type => "video/ogg"}
/ ********** HEADER **********
%section#home
#h
  .container
    .row
      -# %h1{:class => "landing-line-height"} 2nd Annual
      -# %h1 Miami Bitcoin Hackathon
      %h5{:class => "date-padding"} January 22nd - 24th
      = image_tag 'mbh-blue-white.svg', :class => "mbh-logo"
      %h3{:class => "tag-padding"} Write code. Empower the world.
      .divider
      %p.mt
        %a.smoothScroll.btn.btn-conf.btn-clear.register-now-button{:href => "#registration"} Register Now
        %a.smoothScroll.btn.btn-conf.btn-clear.learn-more-button{:href => "#initiative"} Learn More
/ ********** SPONSORS **********
%section
#g2
  .container.ptb.div-respond
    .row
      %h2.centered 2015 HACKATHON RECAP
      %hr.aligncenter.mb
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.centered
          .videoWrapper
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-l9TvM7cuJg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
%section#sponsors
  .container
    .row
      %h2.centered.mt SPONSORS & PARTNERS
      %hr.aligncenter.mb
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.bigboys.centered
          .row
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "http://bitstop.co/", :target => "_blank"}
                = image_tag 'sponsors/blockchain_beach.png', :class => "rss opacity", :style => "max-width:300px;margin-top:30px;"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "http://bitstop.co/", :target => "_blank"}
                = image_tag 'bitstop.png', :class => "rss opacity", :style => "max-width:300px;margin-top:30px;"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.logo-lab.mb.img-responsive
              %a{:href => "http://www.thelabmiami.com/", :target => "_blank"}
                = image_tag 'sponsors/lab_miami.png', :class => "rss opacity"
          .row
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "https://www.bitcointrezor.com/", :target => "_blank"}
                = image_tag 'trezor-logo.png', :class => "rss opacity"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "https://www.ledgerwallet.com/", :target => "_blank"}
                = image_tag 'ledger-vert-logo.png', :class => "rss opacity",  :style => "max-width:200px;"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "https://www.breadwallet.com/", :target => "_blank"}
                = image_tag 'breadwallet.png', :class => "rss opacity", :style => "max-width:200px;"
          .row
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "https://www.bitcointrezor.com/", :target => "_blank"}
                = image_tag 'pollo.png', :class => "rss opacity"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "https://www.knightfoundation.com/", :target => "_blank"}
                = image_tag 'sponsors/knight.png', :class => "rss opacity", :style => "margin-top:3.7em;"
            .col-lg-4.col-md-4.col-sm-12.col-xs-12.centered.mb.img-responsive
              %a{:href => "https://www.bitcointrezor.com/", :target => "_blank"}
                = image_tag 'kindbar.png', :class => "rss opacity"

  -#           .col-lg-6.col-md-6.col-sm-12.col-xs-12.centered
  -#             %a{:href => "http://www.knightfoundation.org/", :target => "_blank"}
  -#               = image_tag 'sponsors/knight.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-bitpay
  -#             %a{:href => "https://bitpay.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/bitpay.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-coinkite
  -#             %a{:href => "https://coinkite.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/coinkite.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.tally-capital
  -#             %a{:href => "http://tallycapital.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/tally_capital.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "https://lamassu.is/", :target => "_blank"}
  -#               = image_tag 'sponsors/lamassu.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "http://satoshilabs.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/satoshi_labs.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "https://www.bitcointrezor.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/trezor.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-trucoin
  -#             %a{:href => "https://www.trucoin.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/trucoin.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "https://www.alarmgrid.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/alarm_grid.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "http://www.enviropro.net/", :target => "_blank"}
  -#               = image_tag 'sponsors/enviro_pro_usa.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "http://www.digitalcurrencycouncil.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/digital_currency_council.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "http://mtalawyers.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/mearkle_trueblood_adam.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "#", :target => "_blank"}
  -#               = image_tag 'sponsors/brave.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-rm-and-associates
  -#             %a{:href => "#", :target => "_blank"}
  -#               = image_tag 'sponsors/rm-and-associates.jpg'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-amlclass
  -#             %a{:href => "http://www.amlclass.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/aml_compliance_solutions.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "#", :target => "_blank"}
  -#               = image_tag 'sponsors/acle_law.png'
  -#         %h3{:style => "margin: 100px 0px 1px 0px;"} Event Partners
  -#         .row
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-btcmiami
  -#             %a{:href => "http://btcmiami.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/btcmiami.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-refreshmiami
  -#             %a{:href => "http://www.refreshmiami.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/refresh_miami.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-mdc
  -#             %a{:href => "http://www.mdc.edu/main/", :target => "_blank"}
  -#               = image_tag 'sponsors/miami_dade_college.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-ccn
  -#             %a{:href => "http://collegecrypto.org/", :target => "_blank"}
  -#               = image_tag 'sponsors/ccn.jpg'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-u
  -#             %a{:href => "http://www.miami.edu/", :target => "_blank"}
  -#               = image_tag 'sponsors/u.jpg'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-wyncode
  -#             %a{:href => "http://wyncode.co/", :target => "_blank"}
  -#               = image_tag 'sponsors/wyncode.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "#", :target => "_blank"}
  -#               = image_tag 'sponsors/blockchain_beach.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.loglo-pollotropical
  -#             %a{:href => "http://pollotropical.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/pollo_tropical.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-king
  -#             %a{:href => "http://www.powerpizzeria.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/power_pizzeria.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-king
  -#             %a{:href => "https://www.sipjojo.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/jojo.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-king
  -#             %a{:href => "http://www.eternitycoffeeroasters.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/eternity.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-king
  -#             %a{:href => "http://www.kindsnacks.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/king.jpg'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered
  -#             %a{:href => "http://satoshicloset.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/satoshi_closet.png'
  -#         %h3{:style => "margin: 100px 0px 1px 0px;"} Media Partners
  -#         .row
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-pfunk
  -#             %a{:href => "http://ybitcoin.net/", :target => "_blank"}
  -#               = image_tag 'sponsors/ybitcoin.png'
  -#           .col-lg-3.col-md-3.col-sm-6.col-xs-6.centered.logo-pfunk
  -#             %a{:href => "http://pfunkmedia.com/", :target => "_blank"}
  -#               = image_tag 'sponsors/pfunk_media.png'

-# ********** GREY SECTION - PRIZES **********
%section#prizes
#g
  .container
    .row
      %h2.centered 2016 PRIZES
      %hr.aligncenter.mb
        .col-md-12
          .col-md-4
            %div{:style => "overflow: hidden; margin-bottom: 17px;"}
              = image_tag 'lottery.svg', :class => "pull-left prize-icons"
              %h3.pull-left{:style => "margin: 34px 0px 0px 24px;"} 1st Place
            %div
              %ul{:style => "padding: 0px 0px 0px 17px;list-style:none;"}
                %li $10,000 in bitcoins
          .col-md-4
            %div{:style => "overflow: hidden; margin-bottom: 7px;"}
              = image_tag 'cups17.svg', :class => "pull-left prize-icons", :style => "width:80px;margin-top:10px;margin-bottom:20px;"
              %h3.pull-left{:style => "margin: 34px 0px 0px 24px;"} 2nd Place
            %div
              %ul{:style => "padding: 0px 0px 0px 17px;list-style:none;"}
                %li $3000 in bitcoins
          .col-md-4
            %div{:style => "overflow: hidden; margin-bottom: 26px;"}
              = image_tag 'award73.svg', :class => "pull-left third-place"
              %h3.pull-left{:style => "margin: 34px 0px 0px 24px;"} 3rd Place
            %div
              %ul{:style => "padding: 0px 0px 0px 17px;list-style:none;"}
                %li $1500 in bitcoins
        .col-md-12
          .col-md-4
            %div{:style => "overflow: hidden; margin-bottom: 7px;"}
              = image_tag 'medals7.svg', :class => "pull-left third-place", :style => "width:80px;margin-top:10px;margin-bottom:20px;"
              %h3.pull-left{:style => "margin: 34px 0px 0px 24px;"} 4th Place
            %div
              %ul{:style => "padding: 0px 0px 0px 17px;list-style:none;"}
                %li $750 in bitcoins
          .col-md-4
            %div{:style => "overflow: hidden; margin-bottom: 7px;"}
              = image_tag 'reward2.svg', :class => "pull-left third-place", :style => "width:80px;margin-top:10px;margin-bottom:20px;"
              %h3.pull-left{:style => "margin: 34px 0px 0px 24px;"} 5th Place
            %div
              %ul{:style => "padding: 0px 0px 0px 17px;list-style:none;"}
                %li $500 in bitcoins
          .col-md-4
            %div{:style => "overflow: hidden; margin-bottom: 7px;"}
              = image_tag 'star235.svg', :class => "pull-left third-place", :style => "width:80px;margin-top:10px;margin-bottom:20px;"
              %h3.pull-left{:style => "margin: 34px 0px 0px 24px;"} Bonus Multiplier
            %p TBA at a later date.
/ ********** GREY SECTION - TOPICS **********
%section#initiative
.container.ptb
  .row
    %h2.centered BLOCKCHAIN BEACH INITIATIVE
    %hr.aligncenter.mb
      .col-md-4
        %tgr
          %i.icon.ion-social-bitcoin
        %h3.mb Why Bitcoin?
        %p Bitcoin has changed the way we transfer value. Its created the Worlds first decentralized immutable ledger called the Blockchain. Bitcoin’s core code is open source and available to anyone to analyze and audit. The technology of Bitcoin is revolutionary because it allows anyone to parties to exchange value without needing to trust a third party.
        %p By removing trusted third parties, we can conduct transactions without the need to trust one another thereby making transactions of any digital property or value extremely efficient and secure. The Bitcoin network is agnostic and doesn’t care about user’s creed, place of birth, race or status - anyone can use Bitcoin. This provides exceptional potential and opportunities for many revolutionary applications which benefit from Bitcoins immutable ledger.
        %p The Bitcoin ecosystem continues to grow very fast due to its disruptive potential and it’s open protocol. Hundreds of start-ups are building out infrastructure and applications in this space and hundreds of millions of dollars are being invested into ideas and projects surrounding Bitcoin’s blockchain.
      / /col-md-4
      .col-md-4
        %tgr
          %i.icon.ion-earth
        %h3.mb Why Miami?
        %p Miami’s developer community has grown significantly in recent years and many opportunities have opened up as investors and companies have made Miami their home. Miami’s developer community is a melting pot of a wide range of ethnicities and the technical talent.
        %p We want to raise developer awareness about Bitcoin in the local Miami community and spread interest in the development of ideas and applications using the Bitcoin Blockchain. We hope as ideas turn into projects or useful applications that it will also attract Bitcoin oriented investors into Miami.
        %p Last year’s Hackathon was a success with over 75 participants who built applications dealing with smart contracts, decentralized marketplaces and micro transactions. For 2016, we expect an even bigger turnout and more interesting projects from participants.
      / /col-md-4
      .col-md-4
        %tgr
          %i.icon.ion-link
        %h3.mb Who is Blockchain Beach?
        %p Blockchain Beach is a group of educators, entrepreneurs, colleagues and enthusiasts who all share a common passion for blockchain technology and decentralized cryptocurrency.
        %p Our mission is to empower the South Florida community through education of Blockchain based technologies. Our primary focus is to provide a consistent delivery of informative content in an effort to motivate and cultivate the entrepreneurial community in South Florida.
      / /col-md-4
%section#judges
#g
  .container
    .row
      %h2.centered JUDGES
      %hr.aligncenter.mb
        / Speakers First Row
        /
          <div class="col-md-2 centered">
          <haml:loud> image_tag 'judges/chris_derose.jpg', :class =&amp;gt; 'img-circle', :height =&amp;gt; '120' </haml:loud>
          </div>
          <div class="col-md-4">
          <h4>Chris DeRose</h4>
          <h6><tg>Community Director of Counterparty Foundation</tg></h6>
          <p>Chris DeRose is an active Bitcoin evangelist, rubyist, and sometimes pythonista. Chris writes for Bitcoin Magazine, contributes to Let's talk Bitcoin, and loves to talk Smart Contracts and user assets. Chris is the “Community Director” of the Counterparty Foundation, and has two amazing cats that have both been trained to balance on one paw.</p>
          </div>
          <div class="col-md-2 centered">
          <haml:loud> image_tag 'judges/shawn_wilkinson.jpg', :class =&amp;gt; 'img-circle', :height =&amp;gt; '120' </haml:loud>
          </div>
          <div class="col-md-4">
          <h4>Shawn Wilkinson</h4>
          <h6><tg>Founder &amp; Lead Developer of Storj.io</tg></h6>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
    / /row
    .row.mt
      / Speakers Second Row
      .col-md-2.centered
        = image_tag 'judges/chris_derose.jpg', :class => 'img-circle', :height => '120'
      .col-md-4
        %h4 Chris DeRose
        %h6
          %tg
            Community Director of
            %a{:href => "http://counterparty.io/", :target => "_blank"} Counterparty Foundation
        %p Chris DeRose is an active Bitcoin evangelist, rubyist, and sometimes pythonista. Chris writes for Bitcoin Magazine, contributes to Let's talk Bitcoin, and loves to talk Smart Contracts and user assets. Chris is the “Community Director” of the Counterparty Foundation, and has two amazing cats that have both been trained to balance on one paw.
      .col-md-2.centered
        = image_tag 'judges/andrew_barnard.jpg', :class => 'img-circle', :height => '120'
      .col-md-4
        %h4 Andrew Barnard
        %h6
          %tg
            Co-Founder of
            %a{:href => "http://www.bitstop.co", :target => "_blank"} Bitstop
        %p Andrew is an entrepreneur who has started several successful businesses.  He was born and raised in Miami, FL.  Currently, he is a Co-Founder at Bitstop which provides Bitcoin related services for both consumers and businesses in South Florida. He has a fourth degree blackbelt in cryptocurrency mining and working with developers to create useful applications using Bitcoin's blockchain technology.
    .row.mt
      / Speakers Second Row
      .col-md-2.centered
        = image_tag 'judges/aaron_lasher.jpg', :class => 'img-circle', :height => '120'
      .col-md-4
        %h4 Aaron Lasher
        %h6
          %tg
            Co-Founder of
            %a{:href => "http://breadwallet.com/", :target => "_blank"} Breadwallet
        %p Since 2011, Aaron has been preoccupied with Bitcoin. With an initial start of speculating and trading, he now focuses on investing in and working with promising startups in the digital currency space. A mathematician by trade, he finds beauty in the root (no pun intended) of Bitcoin: number theory, in which philosophy and the natural world intersect. He currently serves as CMO of breadwallet, the most secure and well-loved bitcoin wallet available.
      .col-md-2.centered
        = image_tag 'judges/anthony_fernandez.jpg', :class => 'img-circle', :height => '120'
      .col-md-4
        %h4 Anthony Fernandez
        %h6
          %tg
            Business Development Manager, Latin America and Caribbean
            %a{:href => "https://www.paypal.com/", :target => "_blank"} PayPal
        %p Anthony worked at Standard & Poor's in New York City before taking over PayPal's Business Development team for Latin American and Caribbean markets in 2013. H1 2015 Total Payment volume grew 200% year over year versus H1 2014 at PayPal after implementing his business development strategy for large enterprise merchants in those markets. He graduated from Emory University's Goizueta Business School, and has been involved in the local startup community.
%section#judging
#g
  .container
    .row
      %h2.centered JUDGING CRITERIA
      %hr.aligncenter.mb
        .col-md-12.centered
          %h2
            Judging will be based on the following criteria with equal weight assigned to each:
            %h3.col-md-4
              Creativity:
              %p Another bitcoin wallet may not add much wow factor for your team unless it has very unique features. How could bitcoin enhance pain points in gaming or paywalls?  How will your app create brand new interesting original use cases?
            %h3.col-md-4
              Product:
              %p Does the application make bitcoin more user friendly and approachable? Can the application make bitcoin go viral or much easier to use?
            %h3.col-md-4
              Execution:
              %p The devil is in the details. Does the application work well? Does it provide a good experience to the user? How does UX feel or the GUI look?

/ ********** WHITE SECTION - SCHEDULE **********
%section#schedule
.container.ptb
  .row
    %h2.centered SCHEDULE
    %hr.aligncenter.mb
      .col-md-4
        #friday.day
          %h3.mtb{:style => "text-align: center;  margin-bottom: 15px; margin-top: 28px;"}
            %span Friday @ Wynwood Warehouse Project
            %p 450 NW 27th St. Miami, FL 33127
          %h6{:style => "text-align: center;"} Jan 22nd
          %ul.events{:style => "margin: 0 auto; width: 293px;"}
            %li
              %time 7:00pm-9:00pm
              %span Networking with Meet &amp; Greet
      .col-md-4
        #saturday.day
          %h3.mtb{:style => "text-align: center;  margin-bottom: 15px; margin-top: 28px;"}
            %span Saturday @ LAB Miami
            %p 400 NW 26th Street
          %h6{:style => "text-align: center;"} Jan 23rd
          %ul.events{:style => "margin: 0 auto; width: 293px;"}
            %li
              %time 7:30am
              %span Arrive (Participant Registration)
            %li
              %time 8:00am
              %span Breakfast
            %li
              %time 9:00am
              %span Begin Hacking
            %li
              %time 1:00pm
              %span Lunch
            %li
              %time 7:00pm
              %span Dinner
      .col-md-4
        #sunday.day
          %h3.mtb{:style => "text-align: center;  margin-bottom: 15px; margin-top: 28px;"}
            %span Sunday @ LAB Miami
            %p 400 NW 26th Street
          %h6{:style => "text-align: center;"} Jan 24th
          %ul.events{:style => "margin: 0 auto; width: 293px;"}
            %li
              %time 8:00am
              %span Breakfast
            %li
              %time 12:00pm
              %span Hacking Ends &amp; Lunch
            %li
              %time 1:30pm
              %span Presentations
            %li
              %time 3:30pm
              %span Judging &amp; Awards
%section#resources
#g
  .container
    .row
      %h2.centered DEVELOPER RESOURCES
      %hr.aligncenter.mb
        .col-md-3.col-md-offset-4
          %h4 API's
          %ul
            %li
              %a{"data-toggle" => "tooltip", :href => "https://bitpay.com/developers", :target => "_blank", :title => "<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div><div class='code-language perl'>Perl</div><div class='code-language android'>Android</div>"} bitpay
            / php, python, ruby, java, c#, perl, anroid
            %li
              %a{"data-toggle" => "tooltip", :href => "https://insight.is/", :target => "_blank", :title => "<div class='code-language javascript'>NodeJS</div>"} insight.is
            / node
            %li
              %a{"data-toggle" => "tooltip", :href => "https://blockchain.info/api", :target => "_blank", :title => "<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div>"} blockchain.info
            / python, java, c#, ruby, php
            %li
              %a{"data-toggle" => "tooltip", :href => "https://coinbase.com/docs/api/overview", :target => "_blank", :title => "<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language java'>Java</div><div class='code-language c-sharp'>C#</div><div class='code-language javascript'>NodeJS</div>"} coinbase.com
            / ruby, php, java, python, node, c#
            %li
              %a{"data-toggle" => "tooltip", :href => "https://coinkite.com/faq/developers", :target => "_blank", :title => "<div class='code-language php'>PHP</div><div class='code-language python'>Python</div><div class='code-language ruby'>Ruby</div><div class='code-language javascript'>Javascript</div>"} coinkite.com
            / python, ruby, php, javascript
        .col-md-3
          %h4 Bitcoin Libraries
          %ul
            %li
              %a{:href => "https://github.com/bitcoin/bitcoin", :target => "_blank"} Bitcoin Core
            %li
              %a{:href => "https://code.google.com/p/bitcoinj/", :target => "_blank"} bitcoinj
            %li
              %a{:href => "https://github.com/nbobtc/bitcoind-php/", :target => "_blank"} bitcoind
            %li
              %a{:href => "http://bitcoinjs.org/", :target => "_blank"} bitcoinJS
            %li
              %a{:href => "https://github.com/libbitcoin/libbitcoin/", :target => "_blank"} libbitcoin
            %li
              %a{:href => "http://bitcore.io/", :target => "_blank"} bitcore.io
            %li
              %a{:href => "https://github.com/conformal/btcd", :target => "_blank"} btcd
            %li
              %a{:href => "https://github.com/coinbase/toshi/", :target => "_blank"} Toshi
            %li
              %a{:href => "https://github.com/coinkite/coinkite-real-time-invoice", :target => "_blank"} Coinkite Invoicing &amp; Checkout
            %li
              %a{:href => "https://github.com/coinkite/coinkite-bitcoin-atm", :target => "_blank"} Coinkite Bitcoin ATM
        .col-md-3.col-md-offset-4
          %h4 Blockchain Explorer's
          %ul
            %li
              %a{:href => "https://blockchain.info/", :target => "_blank"} blockchain.info
            %li
              %a{:href => "http://blockr.io/", :target => "_blank"} blockr.io
            %li
              %a{:href => "https://www.biteasy.com/", :target => "_blank"} biteasy.com
        .col-md-3
          %h4 Guides
          %ul
            %li
              %a{:href => "https://bitcoin.org/en/developer-guide", :target => "_blank"} bitcoin.org
            %li
              %a{:href => "https://github.com/aantonop/bitcoinbook", :target => "_blank"} bitcoinbook
%section#inspiration
.container.ptb
  .row
    %h2.centered INSPIRATION
    %hr.aligncenter.mb
      .col-md-12
        %p
          Bitcoin provides a great opportunity for developers. Like the Internet, the Bitcoin network is an open protocol that allows any developer to build whatever comes to imagination. Brilliant minds and talented developers all over the world are using Bitcoin to build great software. VC funding in Bitcoin is measured to set a record year in 2015 with over
          %a{:href => "http://www.coindesk.com/bitcoin-venture-capital/"} 400 Million Dollars
          invested into Bitcoin startups. Bitcoin startups are in a hiring frenzy because they understand that Blockchain centered protocols such as Bitcoin will be in high demand. Check out some examples below:
        .col-md-4
          %ul
            %li
              %a{:href => "https://www.youtube.com/watch?v=HmYP-7pcdhM", :target => "_blank"} Micropayment channels
            %li
              %a{:href => "https://www.changetip.com", :target => "_blank"} Social network tipping apps
            %li
              %a{:href => "https://github.com/schildbach/bitcoin-wallet", :target => "_blank"} Open source bitcoin wallets
            %li
              %a{:href => "https://www.openbazaar.com", :target => "_blank"} Decentralized market places
          %ul
        .col-md-4
          %ul
            %li
              %a{:href => "http://samouraiwallet.com/", :target => "_blank"} Privacy Bitcoin wallets
            %li
              %a{:href => "https://purse.io/", :target => "_blank"} Financial services
            %li
              %a{:href => "http://twister.net.co/", :target => "_blank"} Decentralized p2p microblogging services
            %li
              %a{:href => "https://onename.io/", :target => "_blank"} Decentralized identity services
        .col-md-4
          %ul
            %li
              %a{:href => "https://www.bitwage.co/", :target => "_blank"} Payroll services
            %li
              %a{:href => "http://www.proofofexistence.com/", :target => "_blank"} Notary services
            %li
              %a{:href => "https://www.livingroomofsatoshi.com/", :target => "_blank"} Bill payment services
            %li
              %a{:href => "https://www.goabra.com/", :target => "_blank"} Remittance services
%section.testimonials
  .container
    .row
      .col-sm-6
        = image_tag 'map.png', :style => 'width: 100%; max-height: 419px;'
      .col-sm-6.section-bg-grey.centered
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel", :style => "height: 191px;"}
          / Wrapper for slides
          .carousel-inner
            .item.active
              %h2 Low transaction fees & High speed
              %h3
                Typically only a miner&#39;s fee of 0.0001 btc ($#{@minerFee['subtotal']['amount']}) can cover the cost of any size transaction. Transactions are fast and settled permanently!
            .item
              %h2 Open Source
              %h3 The protocol is open source so you know the rules. The system is transparent and does not require you to trust another user. Trust is baked into Bitcoin making it trustworthy for you.
            .item
              %h2 Decentralized
              %h3 Unlike traditional client-server architecture, there is no center to the network, just a mesh of nodes that can act as both client and server.
            .item
              %h2 For the poeple, By the people
              %h3 Bitcoin is peer to peer. That means no middle men if you don&#39;t need them. Just like us, there are people all over the world hacking away on the future of payments.
            .item
              %h2 Banking for the Unbanked
              %h3 Billions of people around the world have no access to banking. However, with Bitcoin, anyone with even a basic cell phone can essentially be their own bank.
%section#registration
.container.ptb
  .row
    %h2.centered REGISTRATION
    %hr.aligncenter.mb
      .col-md-5.col-md-offset-1
        .row.price-tag
          .col-sm-5.centered
            %h1 FREE
            %h5 PARTICIPANT
          .col-sm-7.centered
            %h4 DAY 1 & 2 & 3
            %p
              Food Included
              %br/
              Access to all areas
              %br/
              %br/
              = link_to 'Register', new_user_registration_path, :class => "btn btn-conf btn-clear-red"
      .col-md-5
        .row.price-tag-green
          .col-sm-5.centered
            %h1 FREE
            %h5 OBSERVER
          .col-sm-7.centered
            %h4 DAY 1 & 3
            %p
              Kick Off Bash
              %br/
              Presentation Observer
              %br/
              %br/
              %button.btn.btn-conf.btn-clear{"data-target" => "#observer", "data-toggle" => "modal"} Register
  .row.mt
    .col-md-4
      %h3
        %tgr Can I bring a team?
      %p Yes, though we have a limit of 5 members per team. You can bring your friends or you can team up with other hackers on site. No matter what you choose, be ready to hack!
    .col-md-4
      %h3
        %tgr Do you own my hack?
      %p No, all code is yours. This hackathon is for you to have some fun, meet great people, do some good -- and have a chance to win $10k.
    .col-md-4
      %h3
        %tgr Should I bring my pajamas?
      %p Expect to stay overnight, so bring whatever you need to get you through a 24 hour hack fest. We'll provide some sleep spaces for those who need to crash or when the energy drink starts to ebb. Remember you are in a public forum, so do cover up.
    .col-md-4
      %h3
        %tgr What kind of code can I write?
      %p All breeds of code welcome.
  .row.mt
    %h2.centered RULES & TERMS
    %hr.aligncenter.mb
      .col-md-12.rules-terms
        %ol
          %li
            %p Participants must be 18 years of age or older unless accompanied by a legal guardian.
          %li
            %p Eligible participants may participate individually or as a team up to a limit of 5 people per team. A team can be just one person or up to five people.
          %li
            %p Participants must register on www.MiamiBitcoinHackathon.com before January 22, 2016 9:00 a.m. Eastern Standard Time.
          %li
            %p Submitted project must incorporate Bitcoin.
          %li
            %p Each Participant is eligible to receive only one prize from Blockchain Beach, whether individually or as a group.
          %li
            %p Winners must accept prizes in the form of bitcoin. Conversion rates will be Coinbase spot sell price at the time of transfer.
          %li
            %p All submitted code must be created between the Twenty-eight (28) hour time period start and stop time. Any participant or team who uses code, which has been created before the hackathon start time will automatically be disqualified.
          %li
            %p The team’s project must be hosted on Github in a public repo. Your team page must be updated with the repo’s url.
          %li
            %p Participants can only contribute code toward their respective team and cannot share code, ideas or contribute code towards other teams.
          %li
            %p
              By submitting your code, you agree to the #{link_to 'terms and conditions.', rules_path, :target => "blank"}
          %li
            %p Blockchain Beach registered agents, directors and officers at the time of this event cannot participate in this hackathon.
/ ********** FOOTER **********
%section#contact
#f
  .container
    .row.text-center
      %h2{:class => "header-shadow"} Location
    .row.mt
      .col-md-12
        .row
          .col-sm-12.text-center
            %h3 Main Hackathon Event
            %h5
              LAB Miami
              %br/
              400 NW 26th Street
              %br/
              Miami, FL 33127
              %br/
              United States
/ ********** MAP**********
#map-contact
#observer.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-center
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title Observer Registration
      = form_for(@observer, remote: true, :html => {:class => "form-horizontal"}) do |f|
        .modal-body
          .form-group
            = f.label :name, :class => "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :name, :class => "form-control"
          .form-group
            = f.label :email, :class => "col-sm-2 control-label"
            .col-sm-10
              = f.text_field :email, :class => "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :style => "float: left;", :type => "button"} Never Mind
          = f.submit 'Register', :class => 'btn btn-primary'
#registration_process.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-center
    .modal-content{:style => "text-align: center;"}
      %i.fa.fa-circle-o-notch.fa-spin.fa-5x.observer-validator-loading{:style => "margin: 90px 0px;"}
      .observer-success
        %i.fa.fa-smile-o{:style => "font-size: 189px;"}
        %h1 Success
        %h2 See you January 22nd at 6:30 pm
