<h1>Listing observers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observers.each do |observer| %>
      <tr>
        <td><%= observer.name %></td>
        <td><%= observer.email %></td>
        <td><%= link_to 'Show', observer %></td>
        <td><%= link_to 'Edit', edit_observer_path(observer) %></td>
        <td><%= link_to 'Destroy', observer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observer', new_observer_path %>
