<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Miami Bitcoin Hackathon" %></title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application' %>

    <script src='https://cameratag.com/api/v4/js/cameratag.js' type='text/javascript'></script>

    <link href="https://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/4.11/video.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= csrf_meta_tags %>
  </head>
  <body data-spy="scroll" data-offset="0" data-target="#theMenu" class="clean">

    <!-- Menu -->
    <% if user_signed_in? %>
      <header class="site-header">
        <div class="container">
          <div class="navbar navbar-inverse" role="navigation">
            <div>
              <a href="/" class="navbar-brand hidden-xs"><img src=""></a>
              <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-right" ng-hide="0">
              <a href="/" class="navbar-brand visible-xs"><img src=""></a>
              <div class="navbar-collapse collapse" style="height: 0px;">
                <ul class="nav navbar-nav">
                  <li>
                    <%= link_to dashboard_path do %>
                      <span class="">Dashboard</span>
                    <% end %>
                  </li>
                  <% if current_user.team_id.present? %>
                    <li>
                      <%= link_to team_path(current_user.team_id) do %>
                        <span>My Team</span>
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to teams_path do %>
                      <span class="">Teams</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to participants_path do %>
                      <span class="">Participants</span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to hacker_profile_path(current_user.id) do %>
                      <span class="">Profile</span>
                    <% end %>
                  </li>
                  <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle setting-icon-orange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="">Settings</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "Settings", edit_user_registration_path, :class => "setting-icon-orange" %>
                      </li>
                        
                      <li>
                        <%= link_to destroy_user_session_path, :class => "logout-link", :method => :delete do %>
                          <i class="hidden-xs fa fa-sign-out" title="Sign Out" style="min-width: 20px"></i><span class="">Log Out</span>
                        <% end %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- .container -->
      </header>
    <% end %>

    <%= yield %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39352206-14', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
